parameters:
    level: 10
    paths:
        - src
    ignoreErrors:
        - identifier: function.alreadyNarrowedType
        - identifier: missingType.generics
        - identifier: argument.type
          path: src/Runner/Backend/Workerman/WorkermanBackend.php
